body {
  padding-left: 20px;
  background-color: #efefef;
}

table {
  width: 700px;
  width: 65%;
}

td {
  width: 20px;
  height: 20px;
}

table, td {
  text-align: center;
  border: 1px solid #b8b8b8;
  border-collapse: separate;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

#number {
  font-weight: 800i;
  font-size: 200%;
}

#row-input {
  margin-left: 550px;
}

.title {
  color: #6b6b6b;
}

.warning {
  color: red;
}
